body {
  background: #242425;
  margin:0;
  font-family: 'Open Sans', sans-serif;
}
.logo_center {
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}
.button_bar {
  position:absolute;
  width:100%;
  height:100px;
  bottom:0;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}
.logo {
    width:80%;height:auto;
  margin-right: auto;
  margin-left: auto;
}
.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 15px 40px;
  display: inline-block;
  margin: 10px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-1 {
  border: 2px solid #fff;
  color: #fff;
}
.btn-1a:hover, .btn-1a:active {
  color: #0e83cd;
  background: #fff;
}
.top-right-button {
  top:0px;
  right:0px;
  position: absolute;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .logo {
    width:25%;height:auto;
  }
}
@media (min-width: 992px) {
  .container {
      width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
      width: 1170px;
  }
}