body {
    display: block;
    margin: 0px;
    font-family: 'Lato', sans-serif;
}



/* Colors */
.dark__grey {
	background-color: rgb(50, 50, 50);
}

.grey {
	background-color:#545454;
}

.text-dark__grey {
	color: rgb(50, 50, 50);
}

.text-grey {
	color:#545454;
}

/* Head */

/* Nav */

.top__nav {
	height:66px;
	width:100%;
	display: flex;
}

.top__nav .left__info {
	font-family: 'Montserrat', sans-serif;
	width:200px;
	display:block;
	color:white;
}

.top__nav ul {
	position: absolute;
	right: 0;
	padding:0;
	margin:0;
	width:50%;
	list-style: none;
	display: flex;
}

.top__nav ul li {
	width:20%;
	height:66px;
	list-style: none;
	border-right:solid 1px #212121;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.top__nav ul li:first-child div.nav__item {
	border-left:solid 1px #212121;
}

.top__nav ul li div.nav__item {
	box-sizing: border-box;
	width:100%;
	height:100%;
	transition: all ease-in-out 0.05s;
	cursor: pointer
}

.top__nav ul li div {
	color:white;
}

.top__nav ul li div.nav__item:hover {
	border:solid 5px #292929;
	background-color:#545454;
}

/* Jumbotron */

.jumbotron {
	height:calc(100vh - 66px);
	width:100%;
}

/* Media Queries */


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.top__nav ul {
		width:100%;
	}
	.top__nav .left__info {
		display:none;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.main__menu {
		display:none!important;
	}
	.top__nav .left__info {
		width:100%;
		display: block;
	}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}
